{% extends 'firsthandapp/base.html' %}
{% block title-content %}
Add Details
{% endblock title-content %}

<!-- Everything goes in the "main" block -->
{% block main %}

<div class="card">
     
    <div class="card-header">
      <h1 class="card-title">Add-details  
      </h1>

    </div>

    <div class="card-body">
        <form method="POST">
          {% csrf_token %}
              <div class="form-group m-3">
                <div class="form-group m-3">
                  <label>Phonenumber</label>
                  <input required name="phonenumber" type="number" placeholder="Phonenumber"
                      class="form-control">
                </div>
                <label>Joined On</label>
                <input required name="joined_on" type="date" placeholder="Date"
                    class="form-control">
            </div>
              <div class="form-group m-3">
                <label>Favourite Color</label>
                <input required name="favourite_color" type="color" placeholder="Color"
                    class="form-control">
            </div>
            <div class="form-group m-3">
              <label>City</label>
              <input required name="city" type="text" placeholder="City"
                  class="form-control">
            </div>
            <div class="form-group">
              <label for="username">Department</label>
              <select name="department" class="form-control">
              <option>Select your department</option>
              {% for choice in dep_choices %}
              {% for i in choice %}
              {% if i|length < 3 %}
          
              <option value="{{i}}" >{{i}}</option>
              {% endif %}
              {% endfor %}
              <!-- <option value="{{choice}}" >{{choice}}</option> -->
              {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="username">Year</label>
            <select name="year" class="form-control">
              <option >Select your year</option>
              {% for choice in year_choices %}
              {% for i in choice %}
              {% if i|length < 3 %}
              <option value="{{i}}" >{{i}}</option>
              {% endif %}
              {% endfor %}
              <!-- <option value="{{choice}}" >{{choice}}</option> -->
              {% endfor %}

          </select>
          </div>
    
            
        
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
       
    </div>
 
</div>
     

{% endblock %}