{% extends 'firsthandapp/base.html' %}
{% block title-content %}
Add Post
{% endblock title-content %}

<!-- Everything goes in the "main" block -->
{% block main %}

<div class="card">
     
    <div class="card-header">
      <h1 class="card-title">Add Post 
        {% for message in messages%}
        <h5 class=" text-center text-danger">{{message}}</h5>
        {% endfor %}
      </h1>

    </div>

    <div class="card-body">
        <form method="POST">
          {% csrf_token %}
              <div class="form-group m-3">
                <div class="form-group m-3">
                  <label>Title</label>
                  <input required name="title" type="text" placeholder="Title of the post"
                      class="form-control">
                </div>
                <label>Description</label>
                <input required name="description" type="text" placeholder="Description"
                    class="form-control">
            </div>
              <!-- <div class="form-group m-3">
                <label>Time</label>
                {% now "jS F Y H:i" %}
            </div> -->
            <!-- <div class="form-group m-3">
              <label>Deleted</label>
              <input required name="deleted" type="boolean" placeholder="status" default="NO"
                  class="form-control">
            </div> -->
           
    
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
       
    </div>
 
</div>
     

{% endblock %}