{% extends 'firsthandapp/base.html' %}
{% block title-content %}
All Posts
{% endblock title-content %}

<!-- Everything goes in the "main" block -->
{% block main %}
<h2>All Posts</h2>
{% if posts %}
<!-- If there are any posts -->
    {% for post in posts %}
        <div style="padding: 20px;">
            <div class="card shadow">
                <div class="card-header">
                    {{post.title}} by {{post.user}}
                </div>
                <div class="card-body">
                    {{post.details}}<br>
                    {{post.time}}
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
<!-- If there are no posts -->
        <div style="padding: 20px;">
            <div class="card">
                <div class="card-header">
                    No Posts
                </div>
            </div>
        </div>
{%endif%}
{% endblock main%}