{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>

   {% block title-content %}
    Cool Posts
    {% endblock title-content %}
 </title>

    <!-- Bootstrap CSS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />


    {% block head-content %}
    <!-- If you want to add any page specific content such as styles, animations, scripts
    use head-content block
    -->
    {% endblock head-content %}


</head>
<body style="padding-top: 50px;">

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md bg-light shadow navbar-dark fixed-top">
        <a class="navbar-brand text-info" href="/">
            <h4>Posts App</h4>
        </a>
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <span class="navbar-text text-success">
                        Cool posts
                        <span>
                </li>
            </ul>

            <!-- Logout Button -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-info" id='db-manipulation' href="/accounts/logout"> Logout </a></li>
            </ul>
        </div>
    </nav>


    <!-- Sidebar -->
    <div class="container-fluid fixed-bottoms">
        <div class="row">
            <div class="col-2 px-2 position-fixed bg-light container" id="sidebar" style="padding: 20px; height: 97%;">
                <div class="" id="sticky-sidebar">
                    <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
                        <!-- Sidebar buttons -->
                        <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-add" 
                                href="/add/">Add Details</a>
                        </li>
                        <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-all" 
                                href="/addpost/">Add Posts</a>
                        </li>
                        <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-all" 
                                href="/all/">All Posts</a>
                        </li>


                        <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-your" 
                                href="/your/">Your Posts</a>
                        </li>


                        <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-new"
                                href="/new/">New Post</a>
                        </li>


                        <!-- <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-info btn-block" id="side-bar-link-filter"
                                href="/filter/">Filter Posts</a>
                
                        </li> -->
                        <li class="nav-item" style="padding-top: 10px;">
                        <div class="dropdown">
                            <a class="btn btn-lg btn-info btn-block dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                href="/filter/"> Filter Posts</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" name='department' href="/filter/department/">Department</a></li>
                              <li><a class="dropdown-item" name='year' href="/filter/year/">Year</a></li>
                            </ul>
                          </div>
                       </li>

                        <!-- Below is a spare button if you want -->
                        <!-- <li class="nav-item" style="padding-top: 10px;">
                            <a class="btn btn-lg btn-secondary btn-block" id="side-bar-link-aux" value = "aux" href="#">Auxiliary Button</a>
                        </li> -->
                    </div>
                </div>
            </div>


            <!-- This is the main part of the body, this is where your HTML page will be appended later on -->
            <main class="col-9 offset-2 " style="padding: 20px;" role="main">
                {% block main %}

                {% endblock main %}
            </main>


            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>