<!-- 
  The login page for the app. Everyuser that access the site must be logged in. 
  This code has exatly one critical error. solve that and your work here is done.
-->


{%load static%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  <title>
Sign In
</title>
  </head>
  <body style="padding-top: 50px">
    <div style="padding-left: 30%; padding-top: 10%; padding-right: 30%">


      <div class="card">

        <div class="card-header">
          <h1 class="card-title">Sign-In  
            {% for message in messages%}
            <h5 class=" text-center text-danger">{{message}}</h5>
            {% endfor %}  </h1>
        </div>


        <div class="card-body">
            <form method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input
                type="text"
                name="username"
                class="form-control"
                id="username"
                />
              </div>
              <!-- Put CSRF Token here -->
                  {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            <a  id="side-bar-link-filter" value="tools"
            href="/accounts/register/">Don't have an account?Register</a>
        </div>
         


      </div>
    </div>
  </body>
</html>
