<!-- 
  The login page for the app. Everyuser that access the site must be logged in. 
  This code has exatly one critical error. solve that and your work here is done.
-->
{% extends 'firsthandapp/base.html' %}
{% block main %}
<div class="card" style="padding-top: 50px">

  <div class="card-header">
    <h1 class="card-title">Sign-Up
      {% for message in messages%}
      <h5 class=" text-center text-danger">{{message}}</h5>
      {% endfor %}  </h1>
  </div>
  <div class="card-body">
      <form  method='POST'>
        {% csrf_token %}
      
        <input type="text"  class="form-control" name="first_name" placeholder="First Name">
        <input type="text"  class="form-control" name="last_name" placeholder="Last Name">
        <input type="text"  class="form-control" name="username" placeholder="User Name" required>
        <input type="email"  class="form-control" name="email" placeholder="Email" required>
        <input type="password"  class="form-control" name="password1" placeholder="Password">
        <input type="password"   class="form-control" name="password2" placeholder="Confirm Password" required><br>
        <input type="Submit" class="btn btn-dark">
      </form>
  </div>
</div>
{% endblock %}


