{% extends 'firsthandapp/base.html' %}


<!-- Everything goes in the "main" block -->
{% block main %}

<h1>Welcome {{user}}</h1>

{% for message in messages%}
<h5 class=" text-center text-danger">{{message}}</h5>
{% endfor %}

{% if pinfo %}
{% for info in pinfo %}
       <div style="padding: 20px;">
        <div class="card shadow">
            <div class="card-header">
               Username : {{info.user}}
            </div>
            <div class="card-body">
                Details : {{info.details}}<br>
                Resides in : {{info.details.city}}<br>
                Favourite Color is : {{info.details.favourite_color}}<br>
                Phone Number: {{info.phonenumber}}
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}


{% endblock main%}